# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: Data changes pipeline

on:
  push:
    branches: [ "main" ]
    paths:
    - 'data/**/*.csv'
  pull_request:
    branches: [ "main" ]
    paths:
    - 'data/**/*.csv'

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 6.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore -c Release -o ${{ github.workspace }}/output
    - name: Show output folder
      run: ls ${{ github.workspace }}/output
    - name: Get owner and repo
      run: |
        REPO=${{ github.repository }}
        IFS='/' read -ra ADDR <<< "$REPO"
        OWNER=${ADDR[0]}
        REPO_NAME=${ADDR[1]}
        echo "OWNER=$OWNER" >> $GITHUB_ENV
        echo "REPO_NAME=$REPO_NAME" >> $GITHUB_ENV
    - name: App Settings Variable Substitution
      uses: microsoft/variable-substitution@v1
      with:
        files: '${{ github.workspace }}/output/appsettings.json'
      env:
        ManagedDb.Project: ${{ env.OWNER }}
        ManagedDb.Repository: ${{ env.REPO_NAME }}
        ManagedDb.PrId: ${{ github.event.pull_request.number }}
        ManagedDb.Token: ${{ secrets.GITHUB_TOKEN }}
    - name: Run Changes Generator
      run: ${{ github.workspace }}/output/ManagedDb.ConsoleClient github --path-to-save ${{ github.workspace }}/data.json --repo-path ${{ github.workspace }}
    - name: Archive Changes Generator data
      uses: actions/upload-artifact@v3
      with:
        name: mdg_report
        path: ${{ github.workspace }}/data.json
    - name: Display data in table format
      run: cat ${{ github.workspace }}/data.json | jq -r '.[] | [.Name, .Path, .RowNumber, .ChangeType] | @tsv' | column -t
